body {
    font-family: cursive;
    color: maroon;
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    border-radius: 50%;
}

#img1 {
    margin: 175px;
    height: 300px;
    width: 400px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    position: absolute;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#fc0303 0%, #000000 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

h1 {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: burlywood;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 1800px;
    background-color: aliceblue;
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.menu {
    background:yellow;
    position: fixed;
    top: 0px;
    font-family: serif;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 10;
}

.links {
    float: left;
    color: crimson;
    display: inline;
    padding-right: 25px;
    padding-left: 30px;
    font-family: cursive;
    font-size: 25px;
}

.links:hover {
    background-color: darkkhaki;
    text text-decoration: underline;
    font-size: 40px;
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.article:hover {
    color: blueviolet;
    font-weight: 500;

}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}

#contact {
    background: firebrick;
}

#contact iframe {
    width: 100%;
}

.contact1 h3 {
    display: inline;
}

.contact1 a {
    color: white;
    text-shadow: none;
}
